html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.container {
  background-color: #36454F;
  height: 100%;
}
.nav-container {
  border-bottom: 2px solid white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2% 0% 2% 0%;
  margin-bottom: 2%;
}
.nav-container nav {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  margin-right: 4%;
}
.nav-container div a {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-size: 2.5rem;
  text-decoration: none;
  margin-left: 4%;
}
.nav-container div a:hover {
  color: #ADD8E6;
}
.nav-container nav a {
  text-decoration: none;
  color: white;
  padding: 0 1% 0 1%;
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: 6%;
  padding-top: 2%;
}
.nav-container nav a:hover {
  color: #ADD8E6;
}
@media (max-width: 550px) {
  .nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-container div a {
    margin: 0;
  }
  .nav-container nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    border-top: 2px solid white;
  }
  .nav-container nav a {
    margin: 2%;
    font-size: 1.5rem;
  }
}
footer div {
  border-top: 1px solid white;
}
footer div nav {
  display: flex;
  justify-content: center;
  padding-bottom: 10%;
}
footer div nav a {
  margin: 3%;
  color: white;
  font-family: 'Open Sans', sans-serif;
}
.home-attention-grabber {
  margin-top: 3%;
}
.home-attention-grabber .home-attention {
  font-size: 4rem;
  margin-left: 5%;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  color: #ADD8E6;
}
.home-attention-grabber .home-attention h1 {
  margin: 3%;
}
.home-attention-grabber .btn {
  width: 200px;
  height: 40px;
  font-size: 1rem;
  border-radius: 7px;
  border: 1px solid #98AFC7;
  margin: 2%;
}
.home-attention-grabber .btn:hover {
  background-color: #ADD8E6;
  color: black;
}
.home-attention-grabber .home-btn-container {
  display: flex;
  justify-content: center;
}
.home-box-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 7%;
  margin-bottom: 7%;
}
.home-box-container .home-box {
  border-radius: 10px;
  width: 320px;
  height: 140px;
  margin: 3%;
  background-color: white;
  padding: 2%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.home-box-container .home-box h1 {
  border-bottom: 2px solid #98AFC7;
  padding-bottom: 1%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.home-box-container .home-box p {
  margin-top: 3%;
  font-family: 'PT Sans', sans-serif;
}
.home-box-container .home-box:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
@media (max-width: 550px) {
  .home-attention-grabber .book-advisor {
    display: none;
  }
  .home-attention-grabber .btn {
    width: 400px;
    height: 45px;
    border-radius: 7px;
    border: 1px solid #98AFC7;
    margin: 2%;
  }
  .home-attention-grabber .btn:hover {
    background-color: #ADD8E6;
    color: #36454F;
  }
  .home-attention-grabber .home-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home-attention-grabber .home-btn-container button {
    background-color: white;
    width: 370px;
  }
}
.products-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.products-container .product-card {
  width: 260px;
  background-color: #ADD8E6;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 360px;
  margin: 4% 2% 4% 2%;
  border-radius: 10px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.products-container .product-card img {
  width: 260px;
  height: 180px;
  border-radius: 10px 10px 0 0;
}
.products-container .product-card h1,
.products-container .product-card p {
  margin: 2% 0 3% 2%;
  font-family: 'Roboto', sans-serif;
}
.products-container .product-card h1 {
  font-size: 1rem;
  font-weight: 300;
  width: 100%;
}
.products-container .product-card p {
  font-size: 0.8rem;
  width: 100%;
}
.products-container .product-card .product-btn {
  margin-top: 12%;
  width: 90%;
  height: 40px;
  border: none;
  border-radius: 6px;
  border: 1px solid #98AFC7;
  font-size: 0.9rem;
}
.products-container .product-card .product-btn:hover {
  background-color: #98AFC7;
  color: white;
}
