.home-attention-grabber{
    
    //needed a little more space around heading
    margin-top: 3%;




    //this is hte secure finances text, sizing and styling 
    .home-attention{
        font-size: 4rem;
        margin-left: 5%;
        font-weight: 600;
        font-family: @title;
        color: #ADD8E6;

        h1{
            margin: 3%;
        }
    }



    //styling for the buttons
    .btn {
        width: 200px;
        height: 40px;
        font-size: 1rem;
        border-radius: 7px;
        border: 1px solid @hover_text;
        margin: 2%;
    }
    .btn:hover{
        background-color: @bright_hover;
        color: black;
    }
    //this will be to center the buttons
    .home-btn-container{
        display: flex;
        justify-content: center;

        a {
            margin: 0 3% 0 3%;
        }
    }


}

.home-box-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 7%;
    margin-bottom: 7%;



    .home-box{
        border-radius: 10px;
        width: 320px;
        height: 140px;
        margin: 3%;
        background-color: white;
        padding: 2%;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);


        h1 {
            border-bottom: 2px solid @hover_text;
            padding-bottom: 1%;
            font-family: @title;
            font-weight: 400;
        }
        p{
            margin-top: 3%;
            font-family: @paragraph2;
        }
    }
    .home-box:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }   







}






















@media(max-width: 550px) {
    .home-attention-grabber {

        .book-advisor {
            display: none;
        }



// this is to help styling the buttons and make them larger on the 
//screen for the user when using mobile
        .btn {
            width: 400px;
            height: 45px;
            border-radius: 7px;
            border: 1px solid @hover_text;
            margin: 2%;
        }
        .btn:hover{
            background-color: @bright_hover;
            color: @global;
        }
    //this will be to center the buttons
        .home-btn-container{
            display: flex;
            flex-direction: column;
            // justify-content: space-around;
            align-items: center;

            button {
                background-color: white;
                width: 370px;
            }
        }   






    }
}



